*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section{
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
}
.arrow{
    width: 60px;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}
header ul{
    display: flex;
    list-style: none;
}
a{
    text-decoration: none;
}


.sidebar{
    position: fixed;
    right: 0;
    top: 0;
    width: 250px;
    background-color: #fff;
    height: 100vh;
    flex-direction: column;
    transition: all 0.5s ease-out;
}
.sidebar li a{
    width: 100%;
    display: inline-block;
    padding: 1rem;
}

.cross{
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}